@media (max-width: 1024px) and (max-height: 1366px) {
  #header-home {
    .header-content {
      padding-top: 30%;
    }
  }

  .modal {
    .modal-content {
      margin: 20% auto;
    }
  }

  #about {
    &-a {
      height: 100%;
    }

    &-b {
      height: 100%;
    }
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  #header-home {
    .header-content {
      padding-top: 20%;
    }
  }

  .modal {
    .modal-content {
      margin: 4rem auto;
    }
  }

  #about {
    &-a {
      height: 100%;
    }

    &-b {
      height: 100%;
    }
  }
}

@media (max-width: 800px) {
  #header-home {
    .header-content {
      padding-top: 25%;
    }
  }

  #about-b .process,
  #about-c .portfolio {
    grid-template-columns: 1fr;
  }

  #about-c .portfolio {
    grid-gap: 1rem;
  }

  .modal {
    .modal-content {
      margin: 20% auto;
    }
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  #main-nav {
    #logo {
      width: 50px;
      height: 50px;
    }

    a {
      font-size: 1rem;
      margin: 0;
    }
  }

  #header-home {
    .header-content {
      h1 {
        margin: 2rem 0;
        font-size: 2rem;
      }
      h2 {
        font-size: 1rem;
      }
    }
  }

  #home-a,
  #about-b {
    padding: 1.5rem 0;
  }

  #home-a .services,
  #about-a .about-info,
  #about-b .process,
  #about-c .portfolio {
    grid-template-columns: 1fr;
  }

  #about {
    &-a {
      p {
        font-size: 1.1rem;
      }
    }
    &-c {
      text-align: center;
      h2:nth-child(3) {
        font-size: 1.2rem;
      }
      img {
        width: 100%;
      }

      .portfolio {
        grid-gap: 1rem;
      }
    }
  }

  #main-footer {
    .footer-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        padding-bottom: 0.2rem;
      }
    }
  }

  %btn-shared {
    padding: 0.5rem 1.2rem;
  }

  .btn-modal {
    padding: 0.8rem;
    bottom: 10%;
    right: 10px;
    .fas {
      font-size: 1.4rem;
    }
  }

  .modal {
    height: 100%;

    .modal-content {
      margin: 5% auto;
      width: 85%;
      height: 60%;
    }

    .modal-header {
      padding: 0.5rem 0 0 0;
      h2 {
        font-size: 1.5rem;
        padding: 0.5rem;
      }
    }

    .modal-body {
      padding: 0 0.5rem;

      p,
      label {
        font-size: 0.9rem;
      }
    }

    .bottom-line {
      margin-top: 5px;
    }
  }

  .hide-on-small {
    display: none;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  #header-home {
    height: 30rem;

    .header-content {
      padding-top: 10%;

      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1rem;
      }
    }
  }

  %btn-shared {
    padding: 0.5rem 1.2rem;
  }
}

@media (max-height: 400px) and (orientation: landscape) {
  #header-home {
    height: 30rem;

    .header-content {
      padding-top: 10%;

      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1rem;
      }
    }
  }

  .modal {
    .modal-content {
      height: 100%;
      overflow: auto;
      margin: 0 auto;
    }
  }

  %btn-shared {
    padding: 0.5rem 1.2rem;
  }

  .btn-modal {
    font-size: 0.7rem;
  }
}
