/* Custom Styling */
/* * {
  border: 1px solid red;
} */

#showcase {
  background-image: url(./assets/img/landing.jpg);
  background-position: -60% 60%;
}

#activityimg {
  transform: scale(2.1);
}

#card2 {
  margin-top: 10rem;
  padding-top: 5rem;
}

#btn-portfolio {
  margin-top: 10rem;
}

@media (max-width: 400px) {
  #showcase {
    background-image: none;
    max-width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
  }

  #activityimg {
    display: none;
  }

  #card2 {
    margin-top: 2rem;
  }

  #skills {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #skill-header {
    text-align: center;
  }

  #social {
    margin: 10rem 0rem 1rem 1rem;
    padding: 0 1rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
